#root,
body {
  margin: 0;
  text-align: center;
  padding: 0;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

video {
  width: 100svw;
  height: 100svh;
  object-fit: cover;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.reactic-cards-card {
  margin: auto
}

.content-reactic {
  border-radius: 20px;
}

.content-reactic .front,
.content-reactic .back {
  width: 100%;
  height: 100%;
  display: flex;
}

.content-reactic .back {
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;

  h2 {
    margin: 0;
    text-align: left;
  }

  hr {
    width: 100%;
    margin: 0;
    border: solid black 1px;
  }

  p {
    text-align: left;
    margin: 10px 0
  }
}

.content-reactic .front .leftside {
  width: 250px;
  height: 100%;
  background-color: white;
  padding-top: 40px;

  h2 {
    margin-top: 0;
  }

  img {
    width: 100%;
    height: 130%;
    position: relative;
    top: -5px
  }

  .profile {
    width: 170px;
    height: 170px;
    margin: auto;
    overflow: hidden;
    border-radius: 100%;
    filter: drop-shadow(0 0 5px black);
  }

  h2 {
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 0;
  }

  h3 {
    margin-top: 5px;
  }

  .icons {
    width: 75%;
    margin: auto;
    height: 50px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;

    img:first-child {
      height: 35px;
    }

    img {
      height: 40px;
      width: 40px;
    }
  }

  button.projects {
    margin-top: 10px;
    cursor: pointer;
    padding: 8px;
    font-size: 20px;
    color: black;
    border: solid orangered 3px;
    background-color: transparent;
    width: fit-content;
    height: 50px;
    border-radius: 50px;
  }

  .lang {
    margin-top: 10px;

    img {
      width: 100%;
      height: 100%;
      top: unset;
    }

    display: flex;
    gap: 15px;
    justify-content: center;

    button {
      border: 0;
      border-radius: 100%;
      overflow: hidden;
      padding: 0;
      width: 40px;
      height: 40px;
    }
  }
}

.content-reactic .front .rightside {
  flex: 1;
  height: 100%;
  padding: 0 20px;

  h2,
  h3 {
    text-align: left;
    margin-bottom: 0;
    width: fit-content;
  }

  h3 {
    display: flex;
    margin-top: 0;
    min-width: 40%;
    width: 40%;
  }

  .info {
    display: grid;
    width: 100%;
    row-gap: 15px;
    grid-template-columns: 45% 45%;
    grid-template-rows: 50px 50px;
    justify-content: space-between;

    div {
      align-items: center;
      display: flex;
      gap: 15px;
    }

    span {
      width: fit-content;
      text-align: left;
    }
  }

  .stack {
    display: grid;
    grid-template-rows: repeat(4, 50px);
    grid-template-columns: 25% auto;

    h3 {
      width: 100%;
    }

    div {
      display: flex;
      align-items: center;
      column-gap: 15px;
    }

    img {
      height: 40px;
      filter: drop-shadow(0 0 2px black);
      border-radius: 5px;
    }
  }
}

.swipe {
  width: 300px;
  z-index: 1;
  position: relative;
  bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  padding: 10px;
  border-radius: 25px;
  flex-direction: column;

  .gradient {
    width: 15%;
    position: relative;
    height: 70px;
    background: linear-gradient(100deg, transparent, white);
    animation: slideAnimation 2s infinite;
    align-self: start;
  }

  .ball {
    position: absolute;
    right: -37px;
    height: 70px;
    background-color: white;
    width: 70px;
    border-radius: 100%;
  }
}

div.projects {
  background-color: red;
  z-index: 1000;
  position: absolute;
  width: 100svw;
  height: 100svh;
  background-color: #242424;
  padding: 20px;
  box-sizing: border-box;
  animation: fadeIn 0.2s;
  overflow-y: auto;

  p {
    text-align: left;
  }

  h2 {
    font-size: 40px;
    text-align: left;
  }

  h3 {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: 25px;

    img {
      height: 50px;
    }
  }

  .thubImages {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    img {
      height: 500px;
    }
  }

  section {
    margin-top: 75px;
  }

  button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}


@keyframes slideAnimation {
  from {
    width: 15%;
  }

  to {
    width: 87%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}